*{
    margin: 0px;
    padding: 0px;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 1000px;
}
.bottombox{
    display: flex;
    flex-direction: column;
    width: 1050px;
    border: 1px black solid;
    border-radius: 5px 5px 0px 0px;
}
.messagebox{
    display: flex;
    flex-direction: column;
    width: 1050px;
    border: 1px black solid;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.Active{
    background-color: black;
    color: white;
    padding: 0px 10px;
    border-radius: 5px 5px 0px 0px;
    border: white 1px solid;
    border-bottom: 0px;
    height: inherit;
}
.Inactive{
    background-color: white;
    color: black;
    padding: 0px 10px;
    border-radius: 5px 5px 0px 0px;
    border: black 1px solid;
    border-bottom: 0px;
    height: inherit;
}